<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @item, local: true) do |f| %>
      <%= f.text_field :title, placeholder: "Title" %>
      <%= f.text_field :image, placeholder: "Image Url" %>
      <%= f.text_area :text, placeholder: "Text", rows: "10" %>
      <%= f.submit "SEND" %>
    <% end %>
  </div>
</div>